<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Create New Item</h4>
                        <p class="card-category">Enter Details of Item</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <input type="text" formControlName="id" hidden>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="itemId" matInput placeholder="Item Id" type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="name" matInput placeholder="Name" type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="description" matInput placeholder="Description" type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input formControlName="unitPrice" matInput placeholder="Unit Price" type="text">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Type</mat-label>
                                        <input matInput
                                               aria-label="State"
                                               [matAutocomplete]="auto"
                                               formControlName="type">

                                        <mat-autocomplete #auto="matAutocomplete"
                                                          (optionSelected)="onSelectionChange()">
                                            <mat-option *ngFor="let type of filteredItemTypes$ | async"
                                                        [value]="type">
                                                <!--                                                <img class="example-option-img" aria-hidden [src]="state.flag" height="25">-->
                                                <span>{{type}}</span>
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-checkbox formControlName="active" class="example-margin">Active</mat-checkbox>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="form.invalid">Save</button>
                            <button mat-raised-button type="button" (click)="onCancel()" class="btn btn-default pull-right">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
