<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4>New Sale</h4>
                    </div>
                    <div class="card-body"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
<!--                    <div class="card-header card-header-danger">-->
<!--                        <h4 class="card-title">Edit Profile</h4>-->
<!--                        <p class="card-category">Complete your profile</p>-->
<!--                    </div>-->
                    <div class="card-body">

                        <h6 class="card-category text-gray text-center">New Item</h6>
                        <form [formGroup]="form" (ngSubmit)="addToCart()">
                            <div class="row">
                                <div class="col-md-7">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Item</mat-label>
                                        <input matInput
                                               aria-label="State"
                                               [matAutocomplete]="auto"
                                               formControlName="item">
                                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChange()">
                                            <mat-option *ngFor="let item of filteredItems | async" [value]="item.itemId">
<!--                                                <img class="example-option-img" aria-hidden [src]="state.flag" height="25">-->
                                                <span>{{item.name}}</span> |
                                                <small>{{item.itemId}}</small>
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width pull-right">
                                        <input formControlName="qty" matInput placeholder="Qty" type="number">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-2">
                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="form.invalid">
                                        <i class="material-icons">add_circle</i>
                                    </button>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="row">
                            <div class="col-lg-8"><h3>Total</h3></div>
                            <div class="col-lg-4 text-right"><h3>{{total}}</h3>
                                <button type="button" (click)="onShoppingCart()" class="btn btn-info btn-sm"><i class="material-icons">shopping_cart</i></button></div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-profile">
                    <div class="card-body">
                        <h6 class="card-category text-gray">Items in the Cart</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Item
                                </th>
                                <th>
                                    Item Price
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th>
                                    Total
                                </th>
                                </thead>
                                <tbody>
                                <tr *ngFor="let sale of sales">
                                    <td>
                                        {{sale.item.name}}({{sale.item.itemId}})
                                    </td>
                                    <td>
                                        {{sale.item.unitPrice}}
                                    </td>
                                    <td>
                                        {{sale.qty}}
                                    </td>
                                    <td class="text-primary">
                                        {{sale.qty * sale.item.unitPrice}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
